/* 장고 기본 폼 태그에 스타일 입히기 */
    input[type="password"] {
        width: 100%;
        background-color: #f8fafc; /* slate-50 */
        border: none;
        border-radius: 1rem;
        padding: 1rem 1.25rem;
        font-weight: 700;
        outline: none;
        transition: all 0.2s;
    }
    input[type="password"]:focus {
        box-shadow: 0 0 0 2px #60a5fa; /* blue-400 */
    }
    ul.errorlist {
        display: none; /* 기본 에러 리스트 숨김 (커스텀 처리함) */
    }
